/* Stylesheet */
body {
    background: black;    
}

p, h3 {
	font-family: 'Coda Caption', sans-serif;
	}

h3 {
	text-transform: uppercase;
	}

header {
        
}

nav {
       
}

blockquote {
        
}

footer {
        
}

section {
        
}

.container_12 {
        background: #FFF;
}