/* Stylesheet */
body {
    background: url("../img/bg.png");    
}

p, h3 {
	font-family: 'Coda Caption', sans-serif;
	}

h3 {
	text-transform: uppercase;
	}

header {
        
}

nav {
       
}

blockquote {
        
}

footer {
        
}

section {
        
}

.container_12 {
        
}

.showgrid {
        background: url("../img/12-col-grid.gif") !important;
}